html {
    width: 1140px;
    margin: 10px auto;
}

.container {
    display: inline-block;
    width: 100%;
}

.player-info {
    width: 28%;
    float: left;
    /* border: 1px solid #000; */
    text-align: center;
}

.log-in {
    display: block;
}

.user-name {
    margin-bottom: 20px;
}

.player {
    display: none;
}

.score {
    width: 30%;
    margin: 30px auto;
    border: 3px solid rgb(238, 215, 8);
    box-shadow: 2px 2px 2px #000;
    background-color: burlywood;
    color: darkblue;
    font-size: 20px;
}

.game-box {
    width: 40%;
    float: left;
}

.canvas-div {
    width: 100%;
    margin: auto;
    display: none;
}

.interface {
    width: 100%;
    margin: auto;
    text-align: center;
    display: block;
    padding-top: 200px;
}

.lose {
    width: 100%;
    margin: auto;
    text-align: center;
    display: none;
    padding-top: 200px;
}

.canvas {
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
}

.canvas_1 {
    position: absolute;
    z-index: 0;
}

.canvas_2 {
    position: absolute;
    z-index: 1;
}

.canvas_3 {
    position: absolute;
    z-index: 2;
}

.start-btn, .restart-btn, .submit-btn {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(59, 2, 2);
    background-color: firebrick;
    border-radius: 10px;
    outline: none;
}
